.env
.env.example
node_modules
pnpm-lock.yaml
pnpm-lock.yaml
package-lock.json
.next


/frontend/node_modules
/frontend/package-lock.json
/frontend/pnpm-lock.yaml
/frontend/.next
/backend/node_modules
/backend/package-lock.json
/backend/pnpm-lock.yaml
